
/* Animation for gradients */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(180deg);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(360deg);
  }
}

/* Floating animations for web3 logos */
@keyframes floatRight {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-20vw); }
}
