
/* Hide scrollbars for POAP section */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Home page title with no animation */
.static-title {
  display: inline-block;
}

/* Special styles for social icons in PDF */
.social-icon-pdf {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
